{% extends "Main.html" %}
{% block content %}

<div class="container mt-5 flex justify-center">
    <div class="card w-3/5 rounded-xl bg-gray-800 px-5 pb-5">
        <p class="text-2xl font-bold text-white my-5">Hacer Reservación</p>
        <form action="" method="POST" class="">
            {% csrf_token %}
            {{ error }}
            {{ form }}
            <div>
                <div>
                    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> ID User:</p>
                    {{ form.id_user }}
                </div>
                <div>
                    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Fecha Entrada:</p>
                    {{ form.checkin_datetime }}
                </div>
                <div>
                    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Fecha Salida:</p>
                    {{ form.checkout_datetime }}
                </div>
                <div>
                    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Costo:</p>
                    {{ form.total_cost }}
                </div>
                <div>
                    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Habitación:</p>
                    {{ form.id_room }}
                </div>
                <div>
                    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Observación:</p>
                    {{ form.observation }}
                </div>
            </div>
            <div class="flex items-end">
                <button type="submit" class="btn btn-primary w-full">
                    Reservar
                </button>
            </div>
            <!-- <div class="grid grid-cols-2 gap-x-5 gap-y-8">
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Fecha Entrada:
                    </label>
                    <input type="text" name="username" id="username" required="" class="bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 dark:text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Fecha Salida:
                    </label>
                    <input type="text" name="username" id="username" required="" class="bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 dark:text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Costo Total:
                    </label>
                    <input type="text" name="username" id="username" required="" class="bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 dark:text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Habitación:
                    </label>
                    <input type="text" name="username" id="username" required="" class="bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 dark:text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Observación:
                    </label>
                    <input type="text" name="username" id="username" class="bg-gray-50 dark:bg-gray-700 border border-gray-300 text-gray-900 dark:text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="flex items-end">
                    <button type="submit" class="btn btn-primary w-full">
                        Reservar
                    </button>
                </div>
            </div> -->
        </form>
        {{error}}
    </div>
</div>

{% endblock %}