{% extends "Main.html" %}
{% load static %}
{% block content %}
<div
    class="hero flex-1"
    style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">¡Hola!</h1>
            <p class="mb-5 text-xl font-medium">
                ¡Ven y reserva ya una habitacion en uno de nuestro hoteles!. El
                mejor servicio de hospedaje a tu disposicion en cualquier
                ciudad.
            </p>
            <button class="btn btn-primary">Reservar</button>
        </div>
    </div>
</div>
<!--
<div class="carousel w-full">
    
    <div id="slide1" class="carousel-item relative w-full">
        <img
            src="{% static 'img/hotel1.jpeg' %}"
            class="w-full"
            alt="image"
        />
        
        <div
            class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
            <a href="#slide3" class="btn btn-circle">❮</a>
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">¡Hola!</h1>
                <p class="mb-5 text-xl font-medium">
                    ¡Ven y reserva ya una habitacion en uno de nuestro hoteles!. El
                    mejor servicio de hospedaje a tu disposicion en cualquier
                    ciudad.
                </p>
                <button class="btn btn-primary">Reservar</button>
            </div>
            <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
        <img
            src="{% static 'img/hotel2.jpeg' %}"
            class="w-full"
            alt="image"
        />
        <div
            class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
            <a href="#slide1" class="btn btn-circle">❮</a>
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">¡Hola!</h1>
                <p class="mb-5 text-xl font-medium">
                    ¡Ven y reserva ya una habitacion en uno de nuestro hoteles!. El
                    mejor servicio de hospedaje a tu disposicion en cualquier
                    ciudad.
                </p>
                <button class="btn btn-primary">Reservar</button>
            </div>
            <a href="#slide3" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
        <img
            src="{% static 'img/hotel3.jpeg' %}"
            class="w-full"
            alt="image"
        />
        <div
            class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
            <a href="#slide2" class="btn btn-circle">❮</a>
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">¡Hola!</h1>
                <p class="mb-5 text-xl font-medium">
                    ¡Ven y reserva ya una habitacion en uno de nuestro hoteles!. El
                    mejor servicio de hospedaje a tu disposicion en cualquier
                    ciudad.
                </p>
                <button class="btn btn-primary">Reservar</button>
            </div>
            <a href="#slide1" class="btn btn-circle">❯</a>
        </div>
    </div>
</div>
-->
{% endblock %}
