<!DOCTYPE html>
<head>
    <title>Lista de Hoteles</title>
    <style>
        /* Agrega un espacio (margen inferior) entre cada elemento li */
        li {
            margin-bottom: 10px; /* Puedes ajustar el valor según sea necesario */
        }
    </style>
</head>
<body>
    <h1>Lista de Hoteles</h1>
    <ul>
        {% for hotel in hoteles %}
            <li>
                <strong>Nombre:</strong> {{ hotel.nombre }}<br>
                <strong>Ciudad:</strong> {{ hotel.ciudad }}<br>
                <strong>Barrio:</strong> {{ hotel.barrio }}<br>
                <strong>Dirección:</strong> {{ hotel.direccion }}<br>
                <strong>Teléfono:</strong> {{ hotel.telefono }}<br>
                <strong>Email:</strong> {{ hotel.email }}<br>
                <strong>Pisos:</strong> {{ hotel.pisos }}<br>
                <strong>Habitaciones:</strong> {{ hotel.habitaciones }}
            </li>
        {% endfor %}
        <li>
            <a href="/reservation">Reservación</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</body>
</html>
