{% extends "Main.html" %}
{% block content %}

<div class="flex-1 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 px-5 items-center justify-items-center">
    {% for hotel in hoteles %}
        <div class="bg-slate-400 dark:bg-gray-800 w-96 flex flex-col text-center items-center p-5 rounded-2xl gap-y-4">
            <h2 class="card-title">{{hotel.nombre}}</h2>
            <p>{{hotel.ciudad}}</p>
            <p>{{hotel.direccion}}</p>
            <p>{{hotel.telefono}}</p>
            <p>{{hotel.email}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
